<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="input-group">
            <input type="search" class="form-control" name="search" value="" placeholder="type here" autofocus="autofocus" ng-model="search" ng-keypress="checkIfEnterKeyWasPressed($event)">
            <div class="input-group-addon" ng-click='getResults();'>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <h3>or read random article</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <a class="btn btn-info" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">
            random, please
            <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="list-of-results" ng-repeat="article in resultList">
            <a ng-href="http://en.wikipedia.org/wiki?curid={{article.pageid}}" target="_blank">{{article.title}}</a>
            <p>{{article.extract}}</p>
        </div>
    </div>
</div>
